{% include 'header.html' %}
 <div class="container my-5">
    <!-- Ссылки-кнопки -->
    <div class="d-flex justify-content-around mb-4">
      <a href="{% url 'apple_tags' %}" class="btn btn-primary">Айфон</a>
      <a href="{% url 'xiomi_tags' %}" class="btn btn-secondary">Ксяоми</a>
    </div>
    {% for i in  models_list %}
    <!-- Одиночная карточка в центре -->
    <div class="card" style="width: 18rem; margin: 0 auto;">
      <img src="https://media.istockphoto.com/id/1290890812/ru/векторная/символ-хэштега-3d-тенденции-белый-тег-блог-на-красном-фоне-и-социальных-сетей-чат.jpg?s=612x612&w=0&k=20&c=bf9DACvDFYLMoYll7g9dSE3K1PXV0X5e74eb5aWE_Iw=" class="card-img-top" alt="Изображение">
      <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p class="card-text">{{ i.price }}</p>
      </div>
    </div>
     {% endfor %}
  </div>
{% include 'footer.html' %}